<h1>Это страничка с формой</h1>
<p>{{object}}</p>

<form action="/testform" method="post">
<input type="hidden" name="secret" value="секретная информация">
<input type="text" name="title" id="title" placeholder="Заголовок">
<input type="text" name="organ" id="title" placeholder="Организация">
<button type="submit">Отправить</button>
</form>